.custom-sidebar {
    height: 100vh !important;
    width: 350px;
    min-width: 350px;
    border-radius: 0 5rem 5rem 0;
    background-color: #172b4c;
    position: relative;
}

.custom-sidebar .avatar {
    width: 50px;
    height: 50px;
    position: relative;
}

.custom-sidebar .badge-for-avatar {
    width: 15px;
    min-height: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-icon {
    width: 20px;
    height: 20px;
    min-height: 20px;
}

.add-button-text {
    background-color: #8fd04e;
    border-radius: 10px;
    padding: 3px 10px;
}

.mobile-link {
    position: absolute;
    bottom: 20px;
    width: 90%;
}